* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #00d4ff; */

}

/* 
body{
    background-color: #00d4ff;
} */

/* Navbar Styles */
.navbar {
    /* background: linear-gradient(to right, #9b59b6, #e91e63); */
    background: linear-gradient(to right, #1abc9c, #2980b9);
    color: #fff;
    padding: 10px 0;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links li {
    display: inline;
    margin-left: 10px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

/*hero*/
.hero h1 {
    padding: 20px;
    text-align: center;
    justify-content: center;
    font-weight: 700;
}

.hero p {
    padding: 10px;
    text-align: center;
    justify-content: center;
    font-weight: 600;
}

.hero-main {
    padding: 20px;
}

.gif {
    height: 250px;
    margin: 25px 25px;
    display: flex;
    /* background-color: #5b6b71; */
}

.gif img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

.container1 {
    background-color: #ebeff5;
    padding: 20px 20px;
    height: 100%;
    width: 100%;
    display: flex;
    /* position: relative; */
}

.first {
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 100%;
    height: 100%;
}



.dis h2,
p {
    color: #080808;
    margin: 10px;
}

.card img {
    width: 100%;
    height: 100%;
}

.dis {
    margin: 25px;
}

.dis .btn:hover {
    background-color: #5b6b71;
}

/* Contact Section Styles */
.contact {
    padding: 100px 0;
    text-align: center;
}

form input,
form textarea,
form button {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
}

.container {
    margin: 20px 20px;
}

/* Footer Styles */
.footer {
    background: linear-gradient(to right, #1abc9c, #2980b9);
    /* color: #fff; */
    padding: 20px 0;
    text-align: center;
}

.footer p {
    color: #f3f3f3;
}

/* media query*/

@media screen and (min-width: 767px) and (max-width: 1399px) {
    /* * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    } */

    .first img {
        height: 250px;
        width: 100%;
        /* padding: auto; */
    }

    .dis {
        width: 250px;
        /* padding: 25 */
        margin: 25px 25px;
    }

}

@media only screen and (max-width:1005px) and (min-width:767px) {
    .new-text {
        margin-right: 1550px;
        /* width: 350px; */
        margin-left: -50px;
    }


}

@media only screen and (min-width:50px) and (max-width:786px) {

    .second .row {
        flex-direction: column-reverse;
        display: flex;
        margin: 20px 20px;
    }


    .fourth .row {
        flex-direction: column-reverse;
        display: flex;
        margin: 20px 20px;
    }


}